{% from "burger-menu.njk" import themeToggle %}
<div class="flex flex-col gap-2 self-stretch" id="header-menu-bottom-row">
  <a class="text-[.9rem] text-foreground text-left" data-apex-link href="/help/" id="menu-help-link">Help</a>
  <div class="flex items-center justify-between" id="header-menu-actions-row">
    {{ themeToggle() }}
  </div>
</div>
