{% from "burger-menu.njk" import burgerMenu %}
<climbing-page-header{% if headerClass %} class="{{ headerClass }}"{% endif %}>
  <climbing-header variant="brand" align-left></climbing-header>
  {% call burgerMenu() %}{% include "menu-" + (menu or "owned") + ".njk" %}{% endcall %}
</climbing-page-header>
